header, footer {
    display: block;
}

main {
    position: relative;
    width: 760px;
    height: 500px;
    margin: 10px auto;
    box-shadow: 0 0 10px #a19e9e;
    background-color: rgb(240, 220, 207);
}

main:after {
clear: both;
}

header {
    width: 760px;
    height: 110px;
    background-image: url(/images/header.jpg);
    background-size: 100%;
    margin-bottom: 40px;
}

#janela1, #janela2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 130px;
}

#janela1 {
    left: 10px;
    background-color: blue;
    cursor: pointer;
}

#janela2 {
    left: 160px;
    background-color: rgb(229, 255, 0);  
}

#janela1:hover + #janela2 {
    transition: all 5s ease-in-out;
    transform: rotate(180deg);
    left: 598px;
}

footer {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 223, 229);
    text-align: center;
    }